<% provide(:title, "Login") %>
<div class="center jumbotron">



    <h1> Login </h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <%= form_for(:session, url: login_path) do |form_element| %>

        <%= form_element.label :Email %>
        <%= form_element.email_field :email, class: 'form-control' %>

        <%= form_element.label :password%>
        <%= form_element.password_field :password, class: 'form-control' %>

        <%= form_element.label :remember_me, class: "checkbox inline" do %>
       <%= form_element.check_box :remember_me %>
       <span>Remember me on this computer</span>
     <% end %>

        <%= form_element.submit :Login, class: 'btn btn-primary' %>
        <% end %>

        <p> New user ? <%= link_to "Signup Now ! ", signup_path %> </p>

      </div>

    </div>
</div>
